.card {
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
		sans-serif;
	margin: auto;
	background-color: white;
	border-radius: 10px;
	padding: 0 20px 20px 20px;
	max-width: 250px;
	overflow: hidden;
}

.card-div {
	margin-top: 30px;
}

.picture {
	width: 100%;
	height: 160px;
}

.muted {
	color: rgba(51, 51, 51, 0.507);
}
.d-block {
	display: block;
	margin-top: 10px;
}
.btn {
	width: 100%;
	margin-top: 10px;
	border: none;
	background-color: rgb(227, 129, 38);
	padding: 15px;
	border-radius: 5px;
	font-weight: 900;
	font-size: medium;
	color: white;
}

.btn:hover {
	/* background-color: rgb(38, 177, 227); */
	background-color: rgb(227, 76, 38);
}
