.head-title {
	font-family: "Times New Roman", Times, serif;
	margin-left: 5rem;
	padding-top: 10px;
	color: rgb(38, 177, 227);
	font-size: xx-large;
	margin-bottom: 4rem;
}

.title {
	color: rgb(227, 129, 38);
	text-align: center;
	margin-bottom: 0;
   font-family: 'Courier New', Courier, monospace;
   font-weight: 700;
   
}
